doctype html
html
    head
        title Articles
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
            h5.my-0.mr-md-auto.font-weight-normal
                a.navbar-brand(href='/') Articles
            nav.my-2.my-md-0.mr-md-3
                a.p-2.text-dark(href='/') Home
                a.p-2.text-dark(href='/add/article') Add Article
            if user
                a.btn.btn-outline-primary.m-sm-1(href='/user/logout') #{user.username} | Logout
            else
                a.btn.btn-outline-primary.m-sm-1(href='/user/register') Register
                a.btn.btn-outline-primary(href='/user/login') Login
        .container
            != messages('message', locals)
            if errors
                .col-sm-10.offset-sm-1
                    .alert.alert-danger
                        each error, i in errors
                            p #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2019
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js ')



